// *************************************
//
//   Homepage Styles
//
//	 Location: home.php
//
// *************************************

.home__header {
	font-size: 200%;
	line-height: 1.3;
	@media screen and (min-width: $g-m) {
		font-size: 400%;
	}
}