// *************************************
//
//   Well
//   -> Vertical spacing
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .row[a|b]
//   / ...
//
// *************************************

.row {
  overflow: hidden;
  padding: 0 $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Color ----- //

.row--grey--light {
	background-color: #eee;
}

.row--blue {
	background-color: $blue;
}

.row--blue--light {
	background-color: $blue--light;
}

.row--blue--dark {
	background-color: darken($blue,25%);
}


.row--red {
	background-color: $red;
}

.row--slate {
	background-color: $slate;
}

.row--grey--warm {
	background-color: $grey--warm;
}

.row--grey--warm--dark {
	background-color: $grey--warm--dark;
}

$blue: #89ACAC;
$yellow: #CEC32C;
$red: #B44626;

$slate: #373A3A;
$blue--light: #D6EAE9;
$grey--warm: #736759;
$grey--warm--dark: #2B2A29;